<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--   <meta http-equiv="refresh" content="10">   -->
 <link rel="stylesheet" href="/home.css">    
 <title>Simple Layout</title>
</head>
<body>
  <%-include("navbar")%> 
    <section>
    <% blogs.forEach((blogs)=>{ %>
    <div class="card">
        <img src="<%-blogs.image%>" alt="">
        <h2> <%- blogs.title %></h2>
    <h5> <%- blogs.subTitle %> </h5>
    <p><%- blogs.description %> </p>
        <a href="/blog/<%-blogs.id %>">see more</a>
</div>
   <% })   %> 
    </section>
    <%-include("footer")%>
</body>
</html>
